# Site settings
title: Josef Adamčík
author: Josef Adamčík
email: contact@adamcik.me
description: >- # this means to ignore newlines until "baseurl:"
  Linktree for Josef Adamčík
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://adamcik.me" # the base hostname & protocol for your site, e.g. http://example.com
date_format: "%b %-d, %Y"

header_pages:
  - links.md

# Google services
google_verification: "A2ERcMhxjYXHHVUfv4pntUO-36T3a1iNQXXJ5YgZIwI"
# Bing services
bing_verification:

# Optional features
animated:             false
show_related_posts:   false
show_post_footers:    false
show_social_icons:    true
ajaxify_contact_form: false
# Preview image for social media aka og:image and twitter:image
post_preview_image: false

# Facebook Page integration
# (for instant articles and other stuff)
fb_page: false
fb_page_id:

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname:

# txtpen post comments
# (leave blank to disable txtpen)
txtpen_sitename:

# Social icons

bitbucket_username:
skype_username:
steam_nickname:
google_plus_id:
angellist_username:
medium_id:
bitcoin_url:
paypal_url:
flattr_button:
telegram_username:
vk_id:
reddit_username: josefadamcik
twitter_username: josefadamcik
github_username:  josefadamcik
linkedin_username: josefadamcik
instagram_username: josadamcik
stackoverflow_id: 135837
stackoverlflow_username: josef.adamcik
kofi_username: josefadamcik

# Post sharing icons
show_sharing_icons: true
# Change to 'true' to enable individual icons
share_facebook: true
share_twitter: true
share_googleplus: false
share_linkedin: false
share_digg: false
share_tumblr: false
share_reddit: true
share_stumbleupon: false
share_hackernews: false

text:
  pagination:
    newer: 'Newer'
    older: 'Older'
  share_buttons:
    text:         'Share this post.'
    facebook:     'Share on Facebook'
    twitter:      'Share on Twitter'
    googleplus:   'Share on Google+'
    linkedin:     'Share on LinkedIn'
    digg:         'Share on Digg'
    tumblr:       'Share on Tumblr'
    reddit:       'Share on Reddit'
    stumbleupon:  'Share on StumbleUpon'
    hackernews:   'Share on Hacker News'
  post:
    updated:        'Updated'
    minute_read:    'minute read'
    related_posts:  'Related Posts'
  index:
    coming_soon: 'Coming soon...'
  contact:
    email:    'Email Address'
    content:  'What would you like to say?'
    subject:  'New submission!'
    submit:   'Say Hello'
    ajax:
      sending:  'sending..'
      sent:     'Message sent!'
      error:    'Error!'
  thanks: 'Thanks for contacting us. We will reply as soon as possible.'
  og_locale: 'en_US'

# Build settings
markdown: kramdown
redcarpet:
  extensions: ['smart', 'tables', 'with_toc_data', 'no_intra_emphasis', 'footnotes', 'quote']
permalink: /:categories/:title:output_ext
plugins:
  - jekyll-seo-tag # perpahs included by default?
  - jekyll-assets
exclude:
  - 'Gemfile'
  - 'Gemfile.lock'
  - 'node_modules'
  - 'vendor/bundle/'
  - 'vendor/cache/'
  - 'vendor/gems/'
  - 'vendor/ruby/'
  - 'Rakefile'
  - README.md
  - bower_components


sass:
  style: :compressed
# https://github.com/envygeeks/jekyll-assets/tree/v3.0.9
assets:
  destination: "/assets"
  digest: true
  #source_maps: true
  #compression: true
  image_optim: false
  defaults:
    js: { integrity: false } # true on JEKYLL_ENV=production
    css: { integrity: false } # true on JEKYLL_ENV=production
    img: { integrity: false } # true on JEKYLL_ENV=production  
  sources:
    - _assets/css
    - _assets/fonts
    - _assets/images
    - _assets/videos
    - _assets/javascript
    - _assets/video
    - _assets/image
    - _assets/img
    - _assets/js
  raw_precompile:
    - default-skin.png
    - default-skin.svg
    - preloader.gif
  plugins:
    css: { autoprefixer: {}}
    img: { optim: {}}
  autoprefixer:
    browsers:
    - "last 2 versions"
    - "IE > 9"
